:root {
  --font-family-primary: var(--font-geist-sans);
  --font-family-secondary: var(--font-family-montserrat);

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  --font-style-italic: italic;

  --font-size-base: 1rem;

  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-large: 1.125rem;

  --font-size-body-1: var(--font-size-large);
  --font-size-body-2: var(--font-size-medium);

  --font-size-body: var(--font-size-body-1);

  --line-height-base: 1.4;

  @media (--large) {
    --font-size-small: 0.875rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.5rem;

    --line-height-base: 1.3;
  }
}
