:root {
  --light-theme-color: var(--color-slate);
  --light-theme-background-color: var(--color-snow);

  --dark-theme-color: var(--color-snow);
  --dark-theme-background-color: var(--color-deep-blue);
}

@layer basic {
  .lightTheme {
    color: var(--light-theme-color);
    background-color: var(--light-theme-background-color);
  }

  .darkTheme {
    color: var(--dark-theme-color);
    background-color: var(--dark-theme-background-color);
  }
}
